<section id="infos" class="pal">
	<div class="w80 center txtcenter">
		<h1>Infos pratiques</h1>

		<div class="grid-3 has-gutter descriptions">
			<div>
				<h2>Financement participatif</h2>
				<%= svg_image_tag 'icons.svg', :heart %>
			</div>
			<div>
				<h2>Appel à participation</h2>
				<%= svg_image_tag 'icons.svg', :speaker %>
			</div>
			<div>
				<h2>Programme</h2>
				<%= svg_image_tag 'icons.svg', :calendar %>
			</div>
			<div>
				<h2>Localisation</h2>
				<%= svg_image_tag 'icons.svg', :place %>
			</div>
			<div>
				<h2>Restauration</h2>
				<%= svg_image_tag 'icons.svg', :diet %>
			</div>
			<div>
				<h2>Code de conduite</h2>
				<%= svg_image_tag 'icons.svg', :team %>
			</div>
		</div>
	</div>
</section>
